/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 Feb, 2020, 6:47:59 PM
    Author     : Pranay Singhal
*/
.picture
{
    height:100px; 
    width:100px;
    border-radius:50% ; 
    position:absolute ; 
    margin:17px

}

header
{
    width:95% ;
    height: 85px ;
    color: black ; 
    background: lightseagreen ; 
    text-align: center ; 
    font-size: 50px ;
    font-family: lucida calligraphy;
    font-weight: bold ;
    padding: 35px;
}

a:link 
{
    color: #231f20;
}

a:visited 
{
    color: #231f20;
}   

a:hover 
{
    color : black;
}

a:active 
{
    color: black;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: beige;
  font-family: Arial;
  height : 70px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: beige;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover 
.dropbtn {
  background-color: coral;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.content
{
    width:80% ;
    height: 500px ;
    color: black ; 
    background: white ;
    font-size: 20px ;
    margin-left: 40px;   
}

.contact
{
    width:80% ;
    color: black ; 
    background: white ;
    font-size: 20px ;
    margin-left: 40px;
    margin-right: 40px;
    display:flex ; 
    -webkit-column-gap: 40px ; 
    -moz-column-gap: 40px ; 
    column-gap: 40px
}

#lt
{
    margin-left: 120px;
    margin-right: 50px;
}

#ct
{
    margin-left: 50px;
    margin-right: 50px;
}

#rt
{
    margin-left: 50px;
    margin-right: 20px;
    text-align: center;
}

footer
{
    width:97% ;
    height: 90px ;
    color: red ; 
    background: yellow ; 
    text-align: center ; 
    font-size: 20px ;
    padding: 20px;
}
